@media (max-width: 768px) {
  .container {
    padding: 15px;
  }

  label,
  input,
  select,
  button,
  ul li {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  button {
    font-size: 0.9rem;
  }
}

.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #f8fafc;
  color: #333;
  padding: 20px;
}

label {
  display: block;
  margin: 10px 0 5px;
  color: #555;
  font-weight: bold;
}

input,
select,
button {
  margin: 5px 0;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

input:focus,
select:focus,
button:focus {
  outline: none;
  border-color: #007BFF;
}

button {
  cursor: pointer;
  background-color: #007BFF;
  color: white;
  border: none;
  transition: background-color 0.3s;
  width: auto;
  padding: 10px 20px;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

h1 {
  color: #007BFF;
  margin-bottom: 20px;
  line-height: 1.2;
}

h2 {
  margin-top: 20px;
  color: #007BFF;
  line-height: 1.2;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  line-height: 1.5;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

form {
  display: grid;
  gap: 15px;
}

.problems {
  margin-top: 20px;
  text-align: left;
}

.problem {
  display: flex;
  justify-content: space-between;
}

.operations-container, .range-container, .result-container, .operands-container {
  display: flex;
  gap: 5px;
}

.operations-select option {
  background-color: #ffffff;
  color: #333333;
  padding: 5px;
}

@media (max-width: 768px) {
  .operations-container, .range-container, .result-container, .operands-container {
    flex-direction: column;
  }
}
